html(lang='en', dir='ltr')
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title= title
        link(href="/static/bootstrap-5.3.3.min.css" rel="stylesheet")
        link(href="/static/style.css" rel="stylesheet")
    body.d-flex.py-5.bg-body-tertiary(onload='init()')
        main.form-invite.w-100.mx-auto
            #validationok.d-none
                h1.h3.mb-3.fw-normal Account created successfully! You can now log in.
            #formblock
                form(method='post', onsubmit='acceptInvite(); return false;')
                    h1.h1.mb-3.fw-normal.text-center Welcome to Natuin!
                    h2.h4.mb-3.fw-normal Copy the invitation code from your email and paste it below.
                    .form-floating
                      input#floatingCode.form-control(type='text' name="code"  placeholder='', required='', autocomplete='off')
                      label(for='floatingCode') Invitation code
                    h2.h4.mb-3.fw-normal Choose a username and a password for your account.
                    .form-floating
                      input#floatingUsername.form-control(type='text' name="username" placeholder='macno', required='')
                      label(for='floatingUsername') Username
                    .form-floating
                      input#floatingPassword.form-control(type='password' name="password" placeholder='', required='')
                      label(for='floatingPassword') New Password
                    button.btn.btn-primary.w-100.py-2(type='submit') Register
                #alertBlock.alert.alert-danger.d-none
                    .h3.fw-normal
                        b.me-1 Error
                        span#errorMessage
            script(src="/static/accept-invitation.js")
