html(lang='en', dir='ltr')
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title= title
        link(href="/static/bootstrap-5.3.3.min.css" rel="stylesheet")
        link(href="/static/style.css" rel="stylesheet")
    body.d-flex.py-5.bg-body-tertiary
        main.form-reset.w-100.mx-auto
            #validationok.d-none
                h1.h3.mb-3.fw-normal If your username exists, you will receive an email with a code to reset your password
            #formblock
                form(method='post', onsubmit='resetPasswordRequest(); return false;')
                    h1.h3.mb-3.fw-normal Forgot your password?
                    .form-floating
                        input#floatingUsername.form-control(type='text' name="username" placeholder='', required='' autofocus='')
                        label(for='floatingUsername') Username
                    .form-floating
                        input#floatingEmail.form-control(type='email' name="email" placeholder='', required='')
                        label(for='floatingEmail') Email
                    button.btn.btn-primary.w-100.py-2(type='submit') Send
                #alertBlock.alert.alert-danger.d-none
                    .h3.fw-normal
                        b.me-1 Error
                        span#errorMessage
            script(src="/static/reset.js")
