html(lang='en', dir='ltr')
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title= title
        link(href="/static/bootstrap-5.3.3.min.css" rel="stylesheet")
        link(href="/static/style.css" rel="stylesheet")
    body.d-flex.py-5.bg-body-tertiary
        main.form-reset.w-100.mx-auto
            #validationok.d-none
                h1.h3.mb-3.fw-normal Password changed successfully! You can now log in with your new password.
            #formblock
                form(method='post', onsubmit='resetPassword(); return false;')
                    h1.h3.mb-3.fw-normal Reset your password
                    h2.h4.mb-3.fw-normal Copy the reset code from your email and paste it below.
                    .form-floating
                        input#floatingCode.form-control(type='text' name="code"  placeholder='', required='')
                        label(for='floatingCode') Reset code
                    .form-floating
                        input#floatingPassword.form-control(type='password' name="password" placeholder='', required='')
                        label(for='floatingPassword') New Password
                    button.btn.btn-primary.w-100.py-2(type='submit') Reset
                #alertBlock.alert.alert-danger.d-none
                    .h3.fw-normal
                        b.me-1 Error
                        span#errorMessage
            script(src="/static/reset.js")
