|Hello #{username}!
|Thank you for registering to Natuin!
|
|Your validation code is #{validationCode}
|
|Please use it to complete your registration at #{PUBLIC_URL}/account/validate before #{expireDate}
|
|Best regards,
|Natuin team
|
|This is an automated email, please do not reply to it.
|
