|Hello #{username}!
|You requested a password reset for your Natuin account.
|
|Your reset code is
|
|#{resetCode}
|
|Please use it to reset your password at #{PUBLIC_URL}/account/password-reset
|
|The code is valid for 2 hours.
|
|If you didn't make the request, please ignore this email.
|
|Best regards,
|Natuin team
|
|This is an automated email, please do not reply to it.
|
